#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f6f7f8;
  color:#3681f7;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: .2vw;
}
button:hover {
  border-color: #abd2b6;
  background-color: #f9d97c;

}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#activityBox{
  background-color: #abd2b6;
  border-radius: 5px;
}

h1{
  color: #abd2b6;
}

h2{
  color:navy;
}


/* a is all the activity titles and got rid of the underlining after clicking*/
a{
  font-weight: 500;
  color: navy;
  text-decoration: inherit;
}
a:hover{
  color:#f6f7f8;
}

#activityDesc{
  color:#f9d97c;
}
.search{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f6f7f8;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: .2vw;
  color: navy;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.activityFlexBox {
  flex: 0 0 calc(30% - 2vw); 
  height: auto;
  border: solid navy 1vw;
  border-radius: 10px;
  margin: 1vw;
  padding: 5vw;
  position: relative;
}